<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/poole.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="masthead">
            <div class="masthead-title">
                <a href="{{config.base_url | safe }}" title="Home">{{config.title | safe }}</a>
                <small>{{config.description}}</small>
            </div>
        </div>
    </div>
</body>
</html>